html {height: 100%;
}  

body {
            background: #99CC99;
            color: #000000;
            font-family: Trebuchet MS, Arial, Times New Roman;
            font-size: 12px;
			 z-index:1;
			position:relative;
			height:100%;
			min-height:100%;
}
 
#container {
            background:#99CC99;
            margin: 10px auto;
            width: 900px;
            height: 100%;
}
 
#header {
            background: #66CCCC;
            height: 100px;
            width: 900px;
			background-repeat:no-repeat;
			margin-top:-20px;
			line-height:800%;

}
 a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
 
#navigation {
            background: #FF9999;
            width: 900px;
            height: 20px;
}
 
#menu {
            background: #99CC99;
            float: left;
            width: 200px;
            height: 400px;
}
 
#content {
            background: #d2d0d2;
            float: right;
 
            width: 700px;
            height: 400px;
}
 
#clear {
            clear:both;
}
 
#footer {
            background: #0066FF;
            height: 80px;
            width: 100%;
			margin-top:4px;
			margin-left:4px;
}

#pos{
width:800px;
margin-left:100px;
height:210px;
}

.image{
height:200px;
width:200px;

margin-top:10px;
margin-left:4px;
float:left;
}

.podval{
height:120px;
width:460px;

margin-top:4px;
margin-left:4px;
float:left;
font-size:10px;

padding:10px;
text-align:left;
}

.text{
height:120px;
width:460px;

margin-top:4px;
margin-left:4px;
float:left;
font-size:17px;

padding:10px;
text-align:left;
}